.center {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.header {
    margin: 1rem;
}

.text {
    margin: 1rem;
}

.card {
    margin: 1rem;
}